.form-control {
  border: 2px solid #e8ebed;
  border-radius: 2px;
  box-shadow: none;
  height: 37px;
  padding: 8px 12px 9px 12px;
}

.form-control:focus {
  background: #ffffff;
  border-color: $primaryColor;
  box-shadow: none;
}

label.error {
  color: #ffffff;
  background: $dangerColor;
  border: solid thin #ffffff;
  padding: 3px 5px;
}

label.valid {
  color: #ffffff;
  background: $successColor;
  border: solid thin #ffffff;
  padding: 3px 5px;
}

input[name="daterange"] {
  width: 196px;
}