.brand
  %a.logo{href: root_url}
    %i.fa.fa-lg.fa-space-shuttle.hidden-xs
    %span.hidden-xs ROCKETBOARD

%ul.nav.navbar-nav.navbar-left
  %li.toggle-navigation.toggle-left
    %button#toggle-left.sidebar-toggle
      %i.fa.fa-bars

%ul.nav.navbar-nav.navbar-right
  %li.dropdown.profile
    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:void(0);"}
      %span.meta
        %span.avatar
          %img.img-circle{alt: "", src: image_path('avatar.jpg')}
        %span.text user.email
        %span.caret
    %ul.dropdown-menu.animated.fadeIn{role: "menu"}
      %span.arrow.top
      %li
        %a{href: "javascript:void(0);"}
          %span.icon
            %i.fa.fa-power-off
          Logout